<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="Koszyk"></title>
    <!-- Custom CSS -->
    <link th:href="@{/css/menuStyle.css}" rel="stylesheet">
</head>
<body>
<!-- Górne menu -->
<div class="navbar">
    <a th:href="@{/}" class="nav-button">Strona główna</a>
    <a th:href="@{/menu}" class="nav-button">Menu</a>
    <a th:href="@{/promotions}" class="nav-button">Promocje</a>
    <a th:href="@{/gallery}" class="nav-button">Galeria</a>
    <a th:href="@{/basket}" class="nav-button">Koszyk</a>
</div>

<!-- Lista zamówień -->
<div class="order-list">
    <div th:each="orderItem : ${orderItems}" class="order-item" th:data-price="${orderItem.price}">
        <h4 th:text="${orderItem.pizza.id} + '. ' + ${orderItem.pizza.nazwa} + ' (' + ${orderItem.pizza.rozmiar}
                    + ') - ' + ${orderItem.pizza.coverType.nazwa} + '. Cena: ' + ${orderItem.price} + ' zł'"></h4>
        <div>
            <button class="value-button" th:onclick="'decreaseItemQuantity(' + ${orderItem.id} + ')'">-</button>
            <input
                    type="number"
                    th:id="'quantity-' + ${orderItem.id}"
                    th:value="${orderItem.quantity}"
                    readonly
            />
            <button class="value-button" th:onclick="'increaseItemQuantity(' + ${orderItem.id} + ')'">+</button>
        </div>
        <div>
            <p th:id="'order-item-value-' + ${orderItem.id}"
               th:text="(${orderItem.quantity} * ${orderItem.price}) + ' zł'">
            </p>
        </div>
    </div>
    <!-- Sumaryczna cena zamówienia -->
    <div class="total-price">
        <h3>Wartość zamówienia: <span id="total-order-value">0</span> zł</h3>
    </div>
</div>
<!-- Stopka -->
<footer>
    <p class="mb-0" th:text="#{homepage.footer}"></p>
    <div class="language-selection">
        <a href="?lang=pl">
            <img src="https://flagcdn.com/w2560/pl.png" alt="Polski" class="flag-icon">
        </a>
        <a href="?lang=en">
            <img src="https://flagcdn.com/w2560/gb.png" alt="English" class="flag-icon">
        </a>
    </div>
</footer>
<!-- Custom JS -->
<script th:src="@{/css/js/OrderScript.js}"></script>
</body>
</html>
