<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{menu.title}"></title>
  <!-- Custom CSS -->
  <link th:href="@{/css/menuStyle.css}" rel="stylesheet">
</head>
<body>

<!-- Górne menu -->
<div class="navbar">
  <a th:href="@{/}" class="nav-button" th:text="#{navbar.home}"></a>
  <a th:href="@{/menu}" class="nav-button" th:text="#{navbar.menu}"></a>
  <a th:href="@{/promotions/clientPromotions}" class="nav-button" th:text="#{navbar.promotions}"></a>
  <a th:href="@{/gallery}" class="nav-button" th:text="#{navbar.gallery}"></a>
  <a th:href="@{/basket}" class="nav-button" th:text="#{navbar.basket}"></a>
  <a th:href="@{/yourOrder}" class="nav-button" th:text="#{navbar.orders}"></a>
</div>

<!-- Lista promocji -->
<div class="pizza-list">
  <div th:each="promocja : ${promocje}" class="pizza-item">
    <h3 th:text="${promocja.title}"></h3>
    <p th:text="${promocja.description}"></p>
    <h4 th:text="#{promotions.code} + ' ' + ${promocja.promotionCode}"></h4>
    <p th:text="#{promotions.duration}"></p>
    <h3 th:text="#{promotions.valid.from} + ' ' + ${promocja.validFrom} + ' ' + #{promotions.valid.to} + ' ' + ${promocja.validTo}"></h3>
    <img th:src="'https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/d6c392a84e4f665424d710649452e7f9/Derivates/a6bdb196bee23faef1d8020319c7c64750ef7686.jpg'"
         alt="Obraz pizzy" style="max-width: 300px; max-height: 300px;" />
  </div>
</div>

<!-- Stopka -->
<footer class="d-flex justify-content-between align-items-center py-3 bg-dark text-light px-4">
  <p class="mb-0" th:text="#{homepage.footer}"></p>
  <div class="language-selection">
    <a href="?lang=pl">
      <img src="https://flagcdn.com/w2560/pl.png" alt="Polski" class="flag-icon">
    </a>
    <a href="?lang=en">
      <img src="https://flagcdn.com/w2560/gb.png" alt="English" class="flag-icon">
    </a>
  </div>
</footer>

<!-- Custom JS -->
<script th:src="@{/css/js/script.js}"></script>
</body>
</html>
