<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{menu.title}"></title>
    <!-- Custom CSS -->
    <link th:href="@{/css/menuStyle.css}" rel="stylesheet">
</head>
<body>
<!-- Górne menu -->
<div class="navbar">
    <a th:href="@{/}" class="nav-button" th:text="#{navbar.home}"></a>
    <a th:href="@{/menu}" class="nav-button" th:text="#{navbar.menu}"></a>
    <a th:href="@{/promotions}" class="nav-button" th:text="#{navbar.promotions}"></a>
    <a th:href="@{/gallery}" class="nav-button" th:text="#{navbar.gallery}"></a>
    <a th:href="@{/basket}" class="nav-button" th:text="#{navbar.basket}"></a>
    <a th:href="@{/yourOrder}" class="nav-button" th:text="#{navbar.orders}"></a>
</div>

<!-- Lista pizz -->
<div class="pizza-list">
    <div th:each="pizza : ${pizze}" class="pizza-item">
        <h3 th:text="${pizza.id + '. ' + pizza.nazwa}"></h3>
        <p th:text="${pizza.skladniki}"></p>
        <a th:href="@{/addPizzaToBasket(id=${pizza.id})}" class="choose-button" th:text="#{button.choose}"></a>
    </div>
</div>

<!-- Stopka -->
<footer class="d-flex justify-content-between align-items-center py-3 bg-dark text-light px-4">
    <p class="mb-0" th:text="#{homepage.footer}"></p>
    <div class="language-selection">
        <a href="?lang=pl">
            <img src="https://flagcdn.com/w2560/pl.png" alt="Polski" class="flag-icon">
        </a>
        <a href="?lang=en">
            <img src="https://flagcdn.com/w2560/gb.png" alt="English" class="flag-icon">
        </a>
    </div>
</footer>
<!-- Custom JS -->
<script th:src="@{/css/js/script.js}"></script>
</body>
</html>
