<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="Płatnosć"></title>
    <!-- Custom CSS -->
    <link th:href="@{/css/paymentStyle.css}" rel="stylesheet">
</head>
<body>
<!-- Górne menu -->
<div class="navbar">
    <a th:href="@{/}" class="nav-button">Strona główna</a>
    <a th:href="@{/menu}" class="nav-button">Menu</a>
    <a th:href="@{/promotions/clientPromotions}" class="nav-button">Promocje</a>
    <a th:href="@{/gallery}" class="nav-button">Galeria</a>
    <a th:href="@{/basket}" class="nav-button">Koszyk</a>
    <a th:href="@{/yourOrder}" class="nav-button">Zamówienia</a>
</div>

<div class="order-list">
    <h2>Opłać zamówienie</h2>
    <form action="#" th:action="@{/processPayment}" method="post">
        <label for="creditCardNumber">Numer karty kredytowej:</label>
        <input type="text" id="creditCardNumber" name="creditCardNumber" placeholder="1234 5678 9012 3456" required>

        <label for="expirationDate">Data ważności (MM/YY):</label>
        <input type="text" id="expirationDate" name="expirationDate" placeholder="MM/YY" required>

        <label for="cvv">Kod CVV:</label>
        <input type="text" id="cvv" name="cvv" placeholder="123" required>

        <input type="hidden" name="userEmail" th:value="${userEmail}">
        <input type="hidden" name="OrderId" th:value="${OrderId}">

        <button type="submit" class="button">Zapłać</button>
    </form>
</div>

<!-- Stopka -->
<footer class="d-flex justify-content-between align-items-center py-3 bg-dark text-light px-4">
    <p class="mb-0" th:text="#{homepage.footer}"></p>
    <div class="language-selection">
        <a href="?lang=pl">
            <img src="https://flagcdn.com/w2560/pl.png" alt="Polski" class="flag-icon">
        </a>
        <a href="?lang=en">
            <img src="https://flagcdn.com/w2560/gb.png" alt="English" class="flag-icon">
        </a>
    </div>
</footer>
<!-- Custom JS -->
<script th:src="@{/css/js/script.js}"></script>
</body>
</html>
