<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Promocji</title>
</head>
<body>
<h1>Lista Promocji</h1>
<a th:href="@{/promotions/add}">Dodaj Promocję</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tytuł</th>
        <th>Opis</th>
        <th>Procent rabatu</th>
        <th>Kod promocyjny</th>
        <th>Ważna od</th>
        <th>Ważna do</th>
        <th>Opcje</th>
        <th>Data utworzenia</th>
        <th>Data edycji</th>
        <th>Osoba dodająca</th>
        <th>Osoba modyfikujaca</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="promotion : ${promotions}">
        <td th:text="${promotion.id}"></td>
        <td th:text="${promotion.title}"></td>
        <td th:text="${promotion.description}"></td>
        <td th:text="${promotion.discountPercentage}"></td>
        <td th:text="${promotion.promotionCode}"></td>
        <td th:text="${promotion.validFrom}"></td>
        <td th:text="${promotion.validTo}"></td>
        <td>
            <a th:href="@{/promotions/edit/{id}(id=${promotion.id})}">Edytuj</a>
            <a th:href="@{/promotions/delete/{id}(id=${promotion.id})}">Usuń</a>
        </td>
        <td th:text="${#temporals.format(promotion.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${#temporals.format(promotion.modifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${promotion.createdBy}"></td>
        <td th:text="${promotion.modifiedBy}"></td>

    </tr>
    </tbody>
</table>
<a th:href="@{/}">Powrót</a>
</body>
</html>
