<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj/Edycja Promocji</title>
</head>
<body>
<h1>Dodaj/Edycja Promocji</h1>
<form th:action="@{/promotions/save}" th:object="${promotion}" method="post">
    <label for="title">Tytuł:</label>
    <input type="text" id="title" name="title" th:field="*{title}" required>

    <label for="description">Opis:</label>
    <input type="text" id="description" name="description" th:field="*{description}" required>

    <label for="discountPercentage">Procent rabatu:</label>
    <input type="number" id="discountPercentage" name="discountPercentage" th:field="*{discountPercentage}">

    <label for="promotionCode">Kod promocyjny:</label>
    <input type="text" id="promotionCode" name="promotionCode" th:field="*{promotionCode}">

    <label for="validFrom">Ważna od:</label>
    <input type="date" id="validFrom" name="validFrom" th:field="*{validFrom}">

    <label for="validTo">Ważna do:</label>
    <input type="date" id="validTo" name="validTo" th:field="*{validTo}">

    <h3>Wybierz Pizze:</h3>
    <div th:each="pizza : ${pizzas}">
        <input type="checkbox" th:field="*{pizzas}" th:value="${pizza.id}">
        <label th:for="${'pizza' + pizza.id}" th:text="${pizza.nazwa}"></label><br>
    </div>

    <button type="submit">Zapisz</button>
</form>
<a th:href="@{/promotions}">Powrót</a>
</body>
</html>
