<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Menu</title>
</head>
<body>
<h1>Lista pizz</h1>

<form th:action="@{/filteredBySpecification}" method="get">
    <label for="pharse">Nazwa/Skladniki:</label>
    <input type="text" id="pharse" name="pharse" />

    <label for="cenaOd">Cena od:</label>
    <input type="number" id="cenaOd" name="cenaOd" step="0.01" />

    <label for="cenaDo">Cena do:</label>
    <input type="number" id="cenaDo" name="cenaDo" step="0.01" />

    <label for="dataOd">Data wprowadzenia od:</label>
    <input type="date" id="dataOd" name="dataOd" />

    <label for="dataDo">Data wprowadzenia do:</label>
    <input type="date" id="dataDo" name="dataDo" />

    <button type="submit">Szukaj</button>
</form>


<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Składniki</th>
        <th>Rozmiar [cm]</th>
        <th>Cena</th>
        <th>Grube ciasto</th>
        <th>Dodatkowy ser</th>
        <th>Data wprowadzenia</th>
        <th>Opcje</th>
        <th>Opakowanie</th>
        <th>Genre</th>
        <th>Zdjecie</th>
        <th>Data utworzenia</th>
        <th>Data edycji</th>
        <th>Osoba dodająca</th>
        <th>Osoba modyfikujaca</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${pizze}">
        <div th:object="${pizza}">
            <td th:text="*{id}"></td>
            <td th:text="*{nazwa}"></td>
            <td th:text="*{skladniki}"></td>
            <td th:text="*{getRozmiar}" ></td>
            <td th:text="${#numbers.formatDecimal(pizza.cena,2,2)} + ' zł'"></td>
            <div th:switch="*{grube_ciasto}">
                <td th:case="false">nie</td>
                <td th:case="true">tak</td>
            </div>
            <div th:switch="*{dodatkowy_ser}">
                <td th:case="false">nie</td>
                <td th:case="true">tak</td>
            </div>
            <td th:text="${#temporals.format(pizza.data_wprowadzenia, 'dd-MM-yyyy')}"></td>
            <td>
                <a th:href="@{/details(id=${pizza.id})}">Szczegóły</a>
                <a th:href="@{/editPizza(id=${pizza.id})}">Edytuj</a>
                <a th:href="@{/deletePizza(id=${pizza.id})}">Usuń</a>
            </td>
            <td th:text="*{coverType.nazwa}" ></td>
            <td>
                <span th:each="genre : *{genres}" th:text="${genre.name} + ','" />
            </td>
            <td>
                <img th:if="${pizza.fileName != null}"
                     th:src="'data:image/jpg;base64,' + ${pizza.fileName}"
                     alt="Obraz pizzy" style="max-width: 100px; max-height: 100px;" />
            </td>

            <td th:text="*{#temporals.format(createdDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="*{#temporals.format(modifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="*{createdBy}"></td>
            <td th:text="*{modifiedBy}"></td>
        </div>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/}">Powrót do strony głównej</a>
<a th:href="@{/addPizza(id=null)}">Dodaj kolejną pizze</a>
<a th:href="@{/promotionsManagement}">Zarzadzanie promocjami</a>

</br>
<form th:action="@{/logout}" id="logout" th:method="post">
    <button type="submit" class="btn btn-warning">Wyloguj</button>
</form>
</body>
</html>
