<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{orders.title}"></title>
    <!-- Custom CSS -->
    <link th:href="@{/css/searchOrderStyle.css}" rel="stylesheet">
</head>
<body>

<!-- Górne menu -->
<div class="navbar">
    <a th:href="@{/}" class="nav-button" th:text="#{navbar.home}"></a>
    <a th:href="@{/menu}" class="nav-button" th:text="#{navbar.menu}"></a>
    <a th:href="@{/promotions}" class="nav-button" th:text="#{navbar.promotions}"></a>
    <a th:href="@{/gallery}" class="nav-button" th:text="#{navbar.gallery}"></a>
    <a th:href="@{/basket}" class="nav-button" th:text="#{navbar.basket}"></a>
    <a th:href="@{/yourOrder}" class="nav-button" th:text="#{navbar.orders}"></a>
</div>

<div class="order-list">
    <h2 th:text="#{orders.search.title}"></h2>

    <form action="#" th:action="@{/yourOrder}" method="get">
        <label for="clientEmail" th:text="#{orders.search.email}"></label>
        <input type="text" id="clientEmail" name="clientEmail">

        <label for="orderId" th:text="#{orders.search.id}"></label>
        <input type="number" id="orderId" name="orderId">

        <button type="submit" class="button" th:text="#{orders.search.button}"></button>
    </form>

    <h3 th:text="#{orders.results.title}"></h3>

    <table>
        <thead>
        <tr>
            <th th:text="#{orders.results.id}"></th>
            <th th:text="#{orders.results.email}"></th>
            <th th:text="#{orders.results.status}"></th>
            <th th:text="#{orders.results.price}"></th>
            <th th:text="#{orders.results.date}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.clientEmail}"></td>
            <td th:text="${order.orderStatus}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Stopka -->
<footer class="d-flex justify-content-between align-items-center py-3 bg-dark text-light px-4">
    <p class="mb-0" th:text="#{homepage.footer}"></p>
    <div class="language-selection">
        <a href="?lang=pl">
            <img src="https://flagcdn.com/w2560/pl.png" alt="Polski" class="flag-icon">
        </a>
        <a href="?lang=en">
            <img src="https://flagcdn.com/w2560/gb.png" alt="English" class="flag-icon">
        </a>
    </div>
</footer>

<!-- Custom JS -->
<script th:src="@{/css/js/script.js}"></script>
</body>
</html>
